/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}


/*  VARIABLES  */

:root {
  --hue: 159;

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 45%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);


}
/* BASE */

body {
	font: 400 1rem 'DM sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
 
}

h1 {
	font: 700 1.87rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button{

}

/* LAYOUT */

#header {
	border-bottom: 1px solid #e4e4e4 ;
  margin-bottom: 2rem;
}
#header nav {
  height: 4.5rem;
	display: flex;
  align-items:center;
	justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span{
  color: var(--base-color);
}

.container {
	width: 100%;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.grid{
  display: grid;
  gap: 2rem;
}

section.section{
  padding: 5rem 0;
}


/* HOME */
#home .container{
  margin: 0;
}